@page
@model Covid19.Stats.Pages.DataModel
@{
}
<div class="container">
    <p>Data source: <a href="https://github.com/CSSEGISandData/COVID-19">COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University</a></p>
    <p>In the future, it will be possible to download data here.</p>
</div>