@page
@model IndexModel
@{
    ViewData["Title"] = "COVID-19 Global statistics";
}

<div class="text-center">
    <h1 class="display-5">Total Coronavirus Cases: @Model.GlobalStat.Cases</h1>
    <h1 class="display-5">Total Deaths: @Model.GlobalStat.Deaths</h1>

</div>
