@page
@model IndexModel
@{
    ViewData["Title"] = "COVID-19 Global statistic"; }

<div class="row mr-1">
    <div class="col-5">
        <partial name="_Table" model="Model.GlobalStat.TableData" />
    </div>
    <div class="col-7">
        <partial name="_Map" />
        <partial name="_Charts" />
    </div>
</div>

<partial name="_ChartsInit" model="Model.GlobalStat.DataPoints" />
<partial name="_MapInit" model="Model.GlobalStat" />

@section Scripts{
    <script>
        var TimeInterval = 'Monthly';
        var Type = 'Cases';
        function ChangeChartType(type) {
            var ActiveChart = document.getElementById("chart" + Type + TimeInterval);
            ActiveChart.style.display = 'none';
            Type = type;
            ActiveChart = document.getElementById("chart" + Type + TimeInterval);
            ActiveChart.style.display = 'block';
        }
        function ChangeChartInterval(interval) {
            var ActiveChart = document.getElementById("chart" + Type + TimeInterval);
            ActiveChart.style.display = 'none';
            TimeInterval = interval;
            ActiveChart = document.getElementById("chart" + Type + TimeInterval);
            ActiveChart.style.display = 'block';
        }
    </script>

}